.event-body {
  /* background-image: url("../img/torre-eiffel-3.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/***************creates space between header and first element on page************/
#event-page-frame {
  padding-top: 90px;
  margin-bottom: 54px;
  display: flex;
  justify-content: center;
  text-align: center;
}
/********************************************************************************/


/************************Event Frame and Ground-settings***********************************/
#event-info {
  display: flex;
  align-items:  center;
  flex-direction: column;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  background-color: rgba(0, 5, 10, .5);
}

.event-ground-settings {
  margin: 15px;
  color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
}
/********************************************************************************/


/***************************Title and Creator paragraph*******************************************/
.top-info {
  display: block;
  width: 100%;
}

.event-title {
  font-size: 35px;
  margin-top: 30px;;
  
}

.top-line {
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
}
/********************************************************************************/


/****************headers for 'Date:' and 'Where?'*********************************/
.where-when {
  width: 60vw;
  max-width: 300px;
  text-align: left;
}
/************************Date and Location input*********************************/
.event-when-where-box {
  border: solid .5px white;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 5px;
  height: auto;
  width: 225px;
  padding: 5px;
}
/********************************************************************************/


/*************************   Google Maps    *************************************/
#gMap {
  width: 100%;
  margin: 20px 0;
}
/********************************************************************************/


/************************   Name and email   ************************************/
#log-to-event {
  display: flex;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  height: auto;
}

.event-page-input {
  padding: 5px 2.5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(0, 5, 10, .5);
  color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
  width: 75%;
}
/********************************************************************************/


/************************Join-Button and Group size properties*******************/
#event-join-btn {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 8px;
  border: black solid 1px;
  height: 100%;
  width: 100%;
  max-width: 150px;
  padding: 5px;
  color: black;
  text-shadow: none;
  font-size: 20px;
  margin: 0;
  padding: 10px 30px;
}

#event-join-btn:hover {
  background-color: green; /* Green */
  color:white;
}

#join-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
/********************************************************************************/

 
/******************MEDIA QUERY***************************/
@media screen and (min-width: 860px) {
  #event-page-frame {
    padding-top: 90px;
  }

  #event-info {
    width: 80%;
    max-width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .event-title {
    font-size: 40px;
  }

  .event-ground-settings {
      font-size: 25px;
  }

  .event-when-where-box {
    padding: 15px;
    width: 40vw;
    max-width: 390px
  }

  #join-section {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    max-width: 390px
  }

  #gMap {
    width: 500px;
    height: 300px;
  }

  #log-to-event {
    width: 400px;
    
  }

  .event-page-input {
    width: 350px;
    padding: 15px 10px;
  }
  
}