footer {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  background-color: rgba(62, 70, 61, 0.7);
  max-height: clamp(45px, 75px, 100px);
  width: 100%;
  color: white;
  clear: both;
  position: relative;
  padding: 5px;
  margin-bottom: -200px;
}

.contact-footer {
  color: white;
  text-decoration: none;
}

.city-page-footer {
  margin-top: 200px;
}

.copyright {
  font-size: 80%;
  align-self: flex-end;
}

@media screen and (min-width: 500px) {
  /* container to adjust footer on cityPage */
  .city-container {
    height: 100vh;
  }

  footer {
    font-size: 120%;
  }
}
