/********Main settings & Avatar**********/

#navBar-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(62, 70, 61, 0.5);
  max-height: clamp(45px, 75px, 100px);
  width: 100%;
  position: fixed;
}

.nav-header {
  margin-top: -100px;
  width: 100%;
}

#avatar {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 3px rgb(167, 157, 157);
  align-self: center;
}
.brandName {
  display: flex;
  align-self: center;
}
.brandName a {
  font-size: 250%;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(243, 236, 236);
  font-weight: bold;
}

#dropdown-menu {
  display: block;
  margin: 0;
  padding-left: 0;
  text-align: end;
  padding-inline-start: 0;
  width: 42px;
}
/*****************************************/

/************Button*********************/
#menu-btn {
  font-size: clamp(50px, 100%, 350%);
  height: 100%;
  background-color: rgba(62, 70, 61, 0);
  border: none;
  border-radius: 5px;
}
/**************************************/

/*************Menu & toggle settings************/
#menu {
  margin-top: 0;
  margin-right: 10px;
  padding: 0;
  margin-left: clamp(-150px, -35%, -150px);
  width: 480%;
  max-width: 200px;
}

.menu-off {
  visibility: hidden;
  display: flex;
  flex-flow: wrap column;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 10, 0.9);
  position: relative;
  text-align: center;
}

.menu-on {
  visibility: visible;
}

.menu-list {
  list-style: none;
  padding: 10px 0;
}

.nav-link-header {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 250%;
}

.nav-link-header:hover {
  color: rgb(243, 161, 9);
}

.menu-list:hover {
  background-color: rgba(167, 157, 157, .5);
}

@media screen and  (min-width: 900px) {
  #menu {
    margin-left: clamp(-75px, -60px, -75px)
  }
}