.index-body {
  padding: 0;
  margin: 0;
  justify-content: center;
  font-family: roboto, sans-serif;
}

.search-box-div {
  padding: 1em;
  text-align: center;
  background-image: url("../img/backgroundimage-index.jpg");
  background-size: cover;
}

.search-box {
  width: 80%;
  max-width: 420px;
  margin-top: 10px;
}

.cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-decoration: none;
}

.card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-image: url("http://placekitten.com/200/300"); */
  height: 200px;
  width: 100%;
}

.card-body {
  padding: 10px 20px;
}

.card-body h2 {
  margin: 10px 0px;
  justify-self: center;
}

.card-title {
}

.card-button {
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: lightblue;
  width: 100%;
}

.about-us-section {
  margin: 0 10px 20px 10px;
}

.individual-card {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.circular-portrait {
  position: relative;
  width: 5vw;
  height: 5vw;
  overflow: hidden;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  margin: 15px;
}
.circular-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
